﻿@model EncorExportWebUI.ViewModels.ExportXmlModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Encor Export";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

  @* Javascript for DatePicker *@

    <script type="text/javascript">

        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                // Set the checked status of each to match the
                // checked status of the check all checkbox:
                $(this).prop("checked", status);
            });
        }
        $("#btnRefreshGrid").click(function () {
            toggleChecked(false);
        });
        $(document).ready(function () {

            //Set the default value of the global checkbox to true:
            $("#checkall").prop('checked', false);

            // Attach the call to toggleChecked to the
            // click event of the global checkbox:
            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SelectCheckedAll", "Home")',
                    data: { check:status },
                    success: function (result) {
                    }
                });
               // window.location.href = '@Url.Action("SelectCheckedAll", "Home")';
                toggleChecked(status);
            });
        });
        $(document).ready(function () {
            $("#StartDate").datepicker({
                changeMonth: true,
                changeYear: true,
            
            });
        });

        $(document).ready(function () {
            $("#EndDate").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });

        function redirect(dropDownValue) {
            window.location.href = '@Url.Action("CheckSpeciality", "Home")?selectedSpeciality=' + dropDownValue;
        }

        function ajaxcall(ippKey,chec) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SelectCheckedItems", "Home")',
                data: { IPPKey: ippKey,test:chec},
                success: function (result) {
                }
            });
        }
      
    </script>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, null))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <legend>Encor Export</legend>

        <label for="Select">Please Select following Export Parameters</label>
        <table>
            <tbody>
            <tr>
                <td>
                    <label for="Speciality">Speciality</label>
                </td>
                <td>

                @{
                    var listItems = new List<System.Web.UI.WebControls.ListItem> { new System.Web.UI.WebControls.ListItem { Text = "IPPS", Value = "IPPS" }, new System.Web.UI.WebControls.ListItem { Text = "OPPS", Value = "OPPS" } };
                }
                @Html.DropDownListFor(model => model.SelectedSpeciality, new SelectList(listItems), "-- Select Speciality --", new { id = "departmentList", onchange = "redirect(this.value)" })
            </tr>
            @*<tr>
                    <td><br /></td>
                </tr>*@
                <tr>
                    <td>
                        <label for="Action">Action</label>
                    </td>
                    <td>
                        @{
                            var radiolist = new List<System.Web.UI.WebControls.ListItem> { new System.Web.UI.WebControls.ListItem { Text = "ADD", Value = "ADD" }, new System.Web.UI.WebControls.ListItem { Text = "DELETE", Value = "DELETE" } };
                        }
                        @Html.DropDownListFor(model => model.SelectedAction, new SelectList(radiolist), "-- Select Action --", new { id = "ActionList" })
                    </td>
                    @*<tr>
                <td><br /></td>
            </tr>*@
                <tr>
                    <td>
                        @Html.Label("Measure")
                    </td>
                    <td>
                        <dl class="dropdown">
                            <dt>
                                <a href="#">
                                    @{ var testCount = new int();
                                        testCount = 0;
                                     }
                                    <span class="hida">

                                        @if (Model.counter <= 3)
                                        {
                                            for (int i = 0; i < Model.MeasureSetLst.Count; i++)
                                            {
                                                if (Model.MeasureSetLst[i].IsSelected == true)
                                                {
                                                    testCount++;
                                                    @Model.MeasureSetLst[i].Code
                                                    if (testCount < Model.counter)
                                                    { <text>,</text>
                                                    }
                                                }
                                            }

                                        }
                                        else if (Model.counter > 3)
                                        {
                                            <text>More than 3 are selected</text>
                                        }
                                        
                                    </span>
                                    <p class="multiSel"></p>
                                </a>
                            </dt>
                            <dd>
                                <div class="mutliSelect">
                                    <ul style="overflow:auto">
                                        @for (int i = 0; i < Model.MeasureSetLst.Count; i++)
                                        {
                                            @Html.CheckBoxFor(m => m.MeasureSetLst[i].IsSelected, new { id = Model.MeasureSetLst[i].Name })
                                            @Html.HiddenFor(m => m.MeasureSetLst[i].Code)
                                            @Html.HiddenFor(m => m.MeasureSetLst[i].Name)
                                            @Html.DisplayFor(m => m.MeasureSetLst[i].Code)
                                            <br />
                                        }
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </td>
                </tr>

            @*<tr>
                    <td><br /></td>
                </tr>*@
            <tr>

                <td>
                    <label for="Period">Period</label>
                </td>
                <td>
                    <label for="Start Date">FromDate</label>
                    @Html.TextBoxFor(model => model.period.StartDate, new {id = "StartDate"})
                </td>
                <td>
                    <label for="Start Date">ToDate</label>
                    @Html.TextBoxFor(model => model.period.EndDate, new {id = "EndDate"})
                </td>
            </tr>
            @*<tr>
                <td><br/></td>
            </tr>*@
            <tr>
            <td>
                <label for="Action">Hospital ID</label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.SelectedHospID, new SelectList(Model.HospitalIDs), "All", new {id = "HospitalIdList"})
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*<input type="submit" value="GetHospitalID" formaction="RefreshHospitalID" formmethod="post"/>*@

            </td>
            @*<tr>
                    <td><br /></td>
                </tr>*@
            <tr>
                <td>
                    <input type="submit" value="Refresh Grid" formaction="RefreshGrid" formmethod="post" id="btnRefreshGrid"/>

                </td>
            </tr>
            @*<tr>
                    <td><br /></td>
                </tr>*@
            </tbody>
        </table>
        <div>
            <input type="checkbox" id="checkall"/><span>Select All</span>
        </div>

        <div id="checkboxes" style="height: 150px; overflow: auto">
            <table class="table">
                <tr>
                    <th></th>
                    <th style="width: 800px">
                        Account Number
                    </th>
                    <th style="width: 600px">
                        Name
                    </th>
                    <th style="width: 600px">
                        Unit Number
                    </th>
                    <th style="width: 1000px">
                        Medisolv Identifier
                    </th>
                    <th style="width: 400px">
                        MeasureSet
                    </th>
                    <th style="width: 400px">
                       Hospital ID
                    </th>
                    <th></th>
                </tr>
            
@if (Model.PatientInfoList != null)
{
    for (int i = 0; i < Model.PatientInfoList.Count; i++)
    {
        <tr>
            <td style="text-align: center">
                @{ 
                    var url = Url.Action("SelectCheckedItems", "Home", new { IPPKey = Model.PatientInfoList[i].IPPKey });
                }
                @*@Html.CheckBoxFor(model => model.DisplayForPatientList[i].Selected, new { onclick = "window.location = '" + url + "'" })*@
                @Html.CheckBoxFor(model => model.DisplayForPatientList[i].Selected, new { onclick = "ajaxcall('"+Model.DisplayForPatientList[i].IPPKey+"','"+Model.DisplayForPatientList[i].Export+"')" })
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayForPatientList[i].AccountNumber)

                @Html.HiddenFor(model => model.DisplayForPatientList[i].AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayForPatientList[i].patientName)

                @Html.HiddenFor(model => model.DisplayForPatientList[i].patientName)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayForPatientList[i].patientNumbers)

                @Html.HiddenFor(model => model.DisplayForPatientList[i].patientNumbers)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayForPatientList[i].IPPKey)

                @Html.HiddenFor(model => model.DisplayForPatientList[i].IPPKey)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayForPatientList[i].MeasureSet)

                @Html.HiddenFor(model => model.DisplayForPatientList[i].MeasureSet)
            </td>
            <td>
                @Html.DisplayFor(model => model.DisplayForPatientList[i].HospitalID)

                @Html.HiddenFor(model => model.DisplayForPatientList[i].HospitalID)
            </td>
            <td></td>
        </tr>
    }
}
                @*@Html.EditorFor(model => model.PatientList)*@

            </table>
          
        </div>
        @if (Model.PatientInfoList != null)
        {
            @Html.PagedListPager(Model.PatientInfoList, page => Url.Action("PaginateGrid", new { start = page }))
        }
    </fieldset>           
     <input type="submit" value="Export" formaction="Export" formmethod="post"/><br /><br />    
     string style = Model.StatusLabel == "Error Occured While Exporting!" ? "color:Red" : "color:Green";           
    <span style=@style>
    <strong>@Html.DisplayFor(m => m.StatusLabel)</strong>  
   </span>
}
