/*body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #374954;
}*/

.dropdown {
  position: relative;
  top:30%;
  transform: translateY(-50%);
}

a {
    background-color: #FFFFFF;  
    color: black;
}

.dropdown dd, 
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
      color: black;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  background-color: #FFFFFF;
}

.dropdown dt a {
  background-color: #FFFFFF;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 10px;
  line-height: 5px;
  overflow: auto;
  border:1px groove #a39f9f;
   width: 272px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #FFFFFF;
  /*border: 0;*/
  color: #000;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 100px;
  overflow: auto;
  border:1px solid black;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

/*button {
  background-color: #6BBE92;
  width: 302px;
  border: 0;
  padding: 10px 0



  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}*/