﻿@model VSMMefMvc.Models.PatientModel

<tr>
            <td style="text-align: center">
                @Html.CheckBoxFor(model => model.Selected)           
            </td>
            <td>                
                @Html.DisplayFor(model => model.AccountNumber)

                @Html.HiddenFor(model => model.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.patientName)

                @Html.HiddenFor(model => model.patientName)
            </td>
            <td>
                @Html.DisplayFor(model => model.patientNumbers)

                @Html.HiddenFor(model => model.patientNumbers)
            </td>     
            <td>
                @Html.DisplayFor(model => model.IPPKey)

                @Html.HiddenFor(model => model.IPPKey)
            </td>                  
            <td>
                @Html.DisplayFor(model => model.MeasureSet)

                @Html.HiddenFor(model => model.MeasureSet)
            </td>
            <td>        
            </td>
        </tr>
    